body {
    margin: 0;
}

/* TOP */
.intro {
    width: 100%;
    background-color: #1F2937;
    /* margin: -8px; */
    height: 535px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;

}

a {
    font-size: 18px;
    color: #E5E7EB;
}
.menu-bar {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 10px;
}

.links {
    /* display: flex;
    justify-content: space-between; */
}

.title {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 40px;
}
.title-left{
    width: 400px;
}

.title-description {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    flex-wrap: wrap;
}
button {
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    height: 30px;
    width: 100px;
}
h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.title-right {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-top: 50px;
}
img {
    height: 250px;
    width: 525px;
}

/* MIDDLE */
.middle {
    height: 480px;
    margin-left: 200px;
    margin-right: 200px;
}

img {
    border: #3882F6;
}
/* END */
.quote {
    background-color: #E5E7EB;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    display: flex;
    margin: 0;
    width: 800px;

}

.quote-author {
    margin: 0;
}

.signup {
    display: flex;
    height: 350px;
    justify-content: center;
    align-items: center;
}

.phrase {
    background-color: #3882F6 ;
    height: 150px;
    width: 1025px;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}